<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirecciona HTTP a HTTPS" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" />
                </rule>
                <rule name="Redirecciona a URL del certificado registrado" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^plazainsurgentes\.com.mx$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="https://plazainsurgentes.com.mx/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
